{% extends 'base.html' %}

{% block title %}Finance | Saarang ERP{% endblock %}

{% block content %}

<script>
    function submitForm(action)
    {
        document.getElementById('columnarForm').action = action;
        document.getElementById('columnarForm').submit();
    }
</script>

<div class="span9 container">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#request" data-toggle="tab">Request Details</a>
      </li>
      <li><a href="#misc" data-toggle="tab">Miscellaneous</a></li>
    </ul>    
    <div class="tab-content">
        <div class="tab-pane active" id="request">
            <form action="{% url 'finance.views.event_request' eventId %}" method = 'POST'>
                {% csrf_token %}
                <div>
                <div id="myAccordion" class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseOne" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">Facilities</a>
                        </div>
                        <div class="accordion-body collapse in" id="collapseOne">
                            <div class="accordion-inner">
                                <table id ="datatable" class='table table-bordered table-condensed'>
                                    <thead>
                                        <th>#</th>
                                        <th>Item Name</th>
                                        <th>Comments</th>
                                        <th>Cost(Rs.)</th>
                                        <th>Quantity</th>
                                    </thead>
                                    {% for item,count in list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.comments }}</td>
                                        <td>{{ item.cost }}</td>
                                        <td>
                                            <label class="input">
                                                <input class="input-mini" type="number" name='item_{{ item.id }}' value='{{ count }}' min='0'>
                                            </label>
                                        </td>
                                    </tr>   
                                    {% endfor %}
                                </table>    
                            </div>
                        </div>
                    </div>    
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseTwo" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">Hospitality</a>
                        </div>
                        <div class="accordion-body collapse" id="collapseTwo">
                            <div class="accordion-inner">
                              <div class="control-group">
                                <label class="control-label" for="inputName">Accomodation cost(Total).</label>
                                <div class="controls">
                                  <input type="number" id="acc_cost" name="acc_cost" min='0' value= "{{ event_request.hospi_request.accomodation_cost }}"/>
                                </div>
                              </div>
                              <div class="control-group">
                                <label class="control-label" for="inputName">Refreshment cost(Total).</label>
                                <div class="controls">
                                  <input type="number" id="ref_cost" name="ref_cost" min='0' value='{{ event_request.hospi_request.refreshment_cost }}'/>
                                </div>
                              </div>
                              <div class="control-group">
                                <label class="control-label" for="inputName">Number of people</label>
                                <div class="controls">
                                  <input type="number" id="acc_num" name="acc_num" min='0' value='{{ event_request.hospi_request.number_of_people }}'>
                                </div>
                              </div>
                              <div class="control-group">
                                <label class="control-label" for="inputName">Comments</label>
                                <div class="controls">
                                    <textarea name='acc_comments'>{{ event_request.hospi_request.comments }}</textarea>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseThree" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle">Trasport</a>
                        </div>
                        <div class="accordion-body collapse" id="collapseThree">
                            <div class="accordion-inner">
                              <div class="control-group">
                                <label class="control-label" for="inputName">Total cost.</label>
                                <div class="controls">
                                  <input type="number" id="trans_cost" name="trans_cost" min='0' value = '{{ event_request.trans_request.cost }}'>
                                </div>
                              </div>
                              <div class="control-group">
                                <label class="control-label" for="inputName">Number of people</label>
                                <div class="controls">
                                  <input type="number" id="trans_number" name="trans_number" min='0' value = '{{ event_request.trans_request.number_of_people }}'>
                                </div>
                              </div>
                              <div class="control-group">
                                <label class="control-label" for="inputName">Comments</label>
                                <div class="controls">
                                    <textarea name = 'trans_comments'>{{ event_request.trans_request.comments }}</textarea>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            <center>
                <button class='btn btn-primary btn-large' type='submit'>Update</button> 
                <button class='btn btn-success btn-large' type='submit'>Submit</button> 
            </center>
            </form>
            </div>            
        </div>
        <div class='tab-pane' id='misc'>
            <form action='{% url "finance.views.event_misc_request" eventId %}' method='POST'>
              {% csrf_token %}
              <div class="control-group">
                <label class="control-label" for="inputName">Comments</label>
                <div class="controls">
                    <textarea name='misc'>{{ event_request.misc }}</textarea>
                </div>
              </div>
              <center>
                  <button class='btn btn-primary btn-large' type='submit'>Submit</button> 
              </center>
            </form>
        </div>    
    </div>
</div>

{% endblock %}