{% extends 'base.html' %}

{% block title %}Finance | Saarang ERP{% endblock %}

{% block content %}
    
<div class='span9 container'>
    <a href="{% url 'finance.views.event_request' eventId %}"><button class='btn btn-small'>Back</button></a>
    <a href="{% url 'finance.views.approve_misc_request' eventId misc_request.id %}" class='pull-right'><button class='btn btn-small btn-success'>Approve</button></a>
    <a href="{% url 'finance.views.event_request' eventId %}" class='pull-right'><button class='btn btn-small btn-danger'>Decline</button></a>
    <br><br>
<!--     <table class='table table-bordered'>
        <tbody>
            <tr>
                <td><b>Submitted by</b></td>
                <td>{{ misc_request.request_by }}</td>
            </tr>
            <tr>
                <td><b>Amount(Rs.)</b></td>
                <td>{{ misc_request.amount }}</td>
            </tr>
            <tr>
                <td><b>Reason</b></td>
                <td>{{ misc_request.reason|safe }}</td>
            </tr>
        </tbody>
    </table>
 -->
          <table id ="misctable" class='table table-bordered table-condensed'>
              <thead>
                  <th> Submitted by</th>
                  <th>Amount</th>
                  <th>Reason</th>
              </thead>
              <tr {% if misc_request.approved %}class='success'{% endif %}>
                  <td>{{ misc_request.request_by }}</td>
                  <td>{{ misc_request.amount }}</td>
                  <td>{{ misc_request.reason|safe }}</td>
              </tr>   
          </table>    
     <hr>
    <h4><u>Comments</u></h4>
    <hr>
    <br>
    {% for comment in comment_list %}
        {% if comment.by %}
        <div style='background:#F7F7F7;padding:10px;margin:5px;border-radius:5px;'>
        <b><u>{{ comment.by }}</u></b> :<span class='pull-right'>{{ comment.timestamp }}</span>
        <br><br>
        {{ comment.comment|safe }}
        </div>
        <hr>
        {% else %}
        <div style='background:#F7F7F7;padding:10px;margin:5px;'>
        <span class='pull-right'>{{ comment.timestamp }}</span>
        <b>{{ comment.comment|safe }}</b>
        </div>
        <hr>
        {% endif %}
    {% empty %}
        No comments yet.
    {% endfor %}
    <hr>
    <h5>Add comment</h5>
    <form action = "{% url 'finance.views.misc_request' eventId misc_request.id %}" method='POST'>
        {% csrf_token %}
        <textarea name='comment' class='comments' rows='5' style='width:90%;'></textarea>
        <br>
        <button type='submit' class='btn btn-small btn-primary'>Comment</button>
    </form>
</div>

{% endblock %}