{% include 'main/cssnjs.html' %}
{% load url from future %}
{% block main_body %}

 {% if messages %}
<ul class="messages">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        <button type="button" href='#' class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
</ul>
{% endif %}

<table class='table table-bordered'>
    <thead>
        <th>Register</th>
        <th>Team ID</th>
        <th>Team Name</th>
        <th>Team leader</th>
        <th>Team members</th>
    </thead>
        {% for team,reg in team_list %}
        <tr>
            {% if team.leader == user %}
                {% if reg == 1 %}
                <td><a href = "{% url 'main.views.register_team' eId team.pk %}"><button type='button' class='btn btn-small btn-primary'>Register using this team</button></a></td>
                {% elif reg == 2 %}
                <td><button type='button' class='btn btn-small btn-primary disabled' >Already registered</button></td>
                {% elif reg == 3 %}
                <td><a href = "{% url 'main.views.band_details' eId team.pk %}"><button type='button' class='btn btn-small btn-primary'>Update event submission details.</button></a></td>
                {% endif %}
            {% else %}
                <td>Only team leaders can register or update</td>
            {% endif %}
            <td>{{ team.team_sid }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.leader }} </td>
            <td>
                {% for member in team.members.all %}
                    {{ member }}</br>
                {% endfor %}
            </td>
            
        </tr>
        {% endfor %}
</table>
<center><b>OR</b></center>
</br>
<center><a href="{% url 'main.views.create_team' eId %}"><button type='button' class='btn btn-success'>Create New Team</button></a></center>


{% endblock %}
