<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
{% include 'main/cssnjs.html' %}

<script type="text/javascript">
    var msg='{{ status }}';
    var user='{{ email }}';
    parent.postMessage([msg, user], 'http://saarang.org');
</script>
</head>
{% if email %}
<body>
<center><strong>
<div class="alert alert-success">Welcome back {{ email }}!</div></strong></center>
</body>
{% else %}
<body>
<center><strong>
<div class="alert alert-success">Welcome to Saarang 2014!</div></strong></center>
</body>
{% endif %}
</html>