{% include 'main/cssnjs.html' %}
<center>
<title>Password reset confirmation</title>


<h1>Password reset - Saarang 2014</h1>

{% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}<a class="close" data-dismiss="alert" href="#">&times;</a></div>
{% endfor %}

{% if validlink %}

<legend>Enter new password</legend>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form class="form-horizontal" action="" method="post">{% csrf_token %}
<p class="aligned wide"><input type="password" name="new_password1" focus placeholder="New password" /></p>
<p class="aligned wide"><input type="password" name="new_password2" placeholder="Confirm Password" /></p>
<p><input type="submit" class="btn btn-success" value="Change my password" /></p>
</form>

{% else %}

<h1 class="alert-error">Password reset unsuccessful</h1>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

</center>