{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{% if msg %}
 <div class="alert alert-success">  
                    {{ msg }}
    </div>
{% endif %}
<table class="table table-striped table-bordered">
        <tr><td>Title</td><td >{{ task.title }}</td></tr>
        <tr><td>By</td><td >{{ task.author }}</td></tr>
        <tr><td>From</td><td >{{ task.origin_dept }}</td></tr>
        <tr><td>To</td><td >{{ task.destin_dept }}</td></tr>
        <tr><td>Summary</td><td >{{ task.summary }}</td></tr>
        <tr><td>Description</td><td >{{ task.description }}</td></tr>
        <tr><td>Attachments</td><td ><a href="{{ MEDIA_URL }}{{ task.attachment }}">{{ task.attachment }}</a></td></tr>
        <tr><td>Deadline</td><td >{{ task.destin_deadline }}</td></tr>
        <tr><td>Priority</td><td >{{ task.destin_priority }}</td></tr>
        <tr><td>Coords assigned</td><td >{{ task.destin_core_assgnd_coord }}</td></tr>
        <tr><td>Prcentage completed</td><td >{{ task.percent_completed }}</td></tr>
</table>

<button class="btn btn-info btn-large" onclick="document.location = '{% url 'task.views.task_acknowledge' task.id %}';">Acklowledge</button>

<button class="btn btn-success btn-large" onclick="document.location = '{% url 'task.views.task_update' task.id %}';">Upgrade Task </button>

{% endblock %}