<!--
vars:
title
action
form
hidden
-->

{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>{{ title }}</h3>
{% if hidden %}
	<table class="table well span7">
		<!-- TODO: destin_dept is shown as id, change it to Verbal -->
		{% for i, j in hidden %}
			<tr><td>{{ i }} :</td><td>{% if i == "Attachment" %}<a href="{{ MEDIA_URL }}{{ j }}">{{ j }}</a>{% else %}{{ j }}{% endif %}</td></tr>
		{% endfor %}
	</table>
{% endif %}
<form class="span9" enctype="multipart/form-data" action="{{ action }}" method="post" id="form_{{ title|slugify }}">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{{ title}}" class="btn btn-primary" />
</form>

{% endblock %}