{% extends 'base.html' %}
{% block content %}
<iframe src="http://saarang.org/chat/hospi1.php?username=Saarang%202014" class='span9' height="700px" frameborder=0></iframe>
<iframe src="http://saarang.org/chat/hospi2.php?username=Saarang%202014" class='span9' height="700px" frameborder=0></iframe>
<iframe src="http://saarang.org/chat/hospi3.php?username=Saarang%202014" class='span9' height="700px" frameborder=0></iframe>
<script type="text/javascript">
    $('#item_chat_hospi').addClass('active');
</script>
{% endblock %}