<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<center>
<head>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-rowlink.css' %}" rel="stylesheet">
    
    <title>{% block title %}Saarang ERP{% endblock %}</title>
</head>
</center>
<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>
<center>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-rowlink.js' %}"></script>
  
</center>
</body>
</html>