<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% load erp_tags %}
{% load dajaxice_templatetags %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="XUk-iF0nqcKmJiHvhXvoGq8pkTmRGPUiIxCCjsEuHfM" />
    <title>{% block title %}Saarang ERP{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Saarang ERP is the Enterprise Resource Planner for Saarang, which is the annual cultural festival of IIT Madras, with a footfall of over 50000 a year.">
    <meta name="author" content="Web Operations Team - Saarang, IIT Madras">
    <meta name="keywords" contents="saarang, erp, enterprise resource planner, saarang 2014, iit madras, chennai, college, planning, management">
<!-- Styles begin -->
    <link href="{% static 'css/smoothness/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/docs.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettify.css' %}" rel="stylesheet">
    <style>
        body {
        padding-top: 40px;
        padding-bottom: 60px;
        }
      }
      .id_coords{
        width:300px;
      }
    </style>
    <link href="{% static 'css/bootstrap-rowlink.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatable/jquery.dataTables.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/datatable/jquery.dataTables_themeroller.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/tabletools/TableTools.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/tabletools/TableTools_JUI.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'js/dajaxice.core.js' %}"></script>
    <script type="text/javascript" src='{% static "dajax/jquery.dajax.core.js" %}'></script>
    


<!-- Styles end -->

<!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

</head>

<body >
 
 <!-- NavBar Begins -->
    {% block topbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                    <a href="http://saarang.org" class="brand" target="_blank"><img src="{% static 'img/favicon.png' %}" height="75%" width="75%"/></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% if request.path == '/' %}class='active'{% endif %}><a href="{% url 'erp.views.home' %}"><i class="icon-home icon-white"></i> Home</a></li>
                            <li {% if request.path|app_name == 'forum' %}class='active'{% endif %}><a href="{% url 'forum.views.index' %}"><i class="icon-pencil icon-white"></i> Forum</a></li>
                            {% if user.userprofile.dept.id == 9 or user.userprofile.dept.id == 5 or user.userprofile.status == 'core' %}
                              <li {% if request.path|app_name == 'hospi' %}class='active'{% endif %}><a href="{% url 'hospi.views.list_registered_teams' %}"><i class="icon-fire icon-white"></i> Hospi</a></li>
                            {% endif %}
                            <li id="topbar_dash"><a href="{% url 'mailer.views.home' %}"><i class="icon-eye-open icon-white"></i> Mailer</a></li>
                            <li id="topbar_dash"><a href="{% url 'security.views.home' %}"><i class="icon-warning-sign icon-white"></i> Security</a></li>
                        </ul>
                        <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> {{ user.first_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'userprofile.views.profile' %}"><i class="icon-wrench"></i> Profile</a></li>
                            <li><a href="{% url 'django.contrib.auth.views.password_change' %}"><i class="icon-barcode"></i> Change password</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'erp.views.contacts' %}"><i class="icon-tasks"></i> Contacts</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'erp.views.logout_user' %}"><i class="icon-share"></i> Logout</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
<!-- NavBar Ends -->
<!-- Subhead
==================================================--> 
<header class="jumbotron subhead" id="overview">
  <div class="container">
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}<a class="close" data-dismiss="alert" href="#">&times;</a></div>
{% endfor %}
{% if not messages %}
    ERP Notifications
{% endif %}
  </div>
</header>

    <div class="container" style="padding-top:20px;">
      <div class="row">

<div id='start' class="container span3">
<!-- SideBar Accordion -->
<blockquote>
<p class="text-left text-success">Saarang ERP</p>
<small>Start Here</small>
</blockquote>

<div class="accordion" id="sidebar" >
{% if user.userprofile.status == 'core' %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#manage"><i class="icon-list-alt"></i> Manage</a>
    </div>
    <div id="manage" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="nav-list nav">
          <li>
            <a href="{% url 'erp.views.add_user' %}"><i class="icon-chevron-right"></i> Add User</a>
          </li>
          <li>
            <a href="{% url 'erp.views.add_dept' %}"><i class="icon-chevron-right"></i> Add Department</a>
          </li>
          <li>
            <a href="{% url 'erp.views.add_subdept' %}"><i class="icon-chevron-right"></i> Add Sub Department</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endif %}

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#tasks"><i class="icon-tasks"></i> Tasks</a>
    </div>
    <div id="tasks" class="accordion-body collapse {% if request.path|app_name == 'task' %}in{% endif %}">
      <div class="accordion-inner">
        <ul class="nav-list nav">
          <li>
            <a href="{% url 'task.views.origin_task_create' %}"><i class="icon-chevron-right"></i> Create new Task</a>
          </li>
          <li>
            <a href="{% url 'task.views.my_task' %}"><i class="icon-chevron-right"></i> My Tasks</a>
          </li>
          <li>
            <a href="{% url 'task.views.dept_task' %}"><i class="icon-chevron-right"></i> Department Tasks</a>
          </li>
          {% if user.userprofile.status == 'core' %}
          <li>
            <a href="{% url 'task.views.pending_approval' %}"><i class="icon-chevron-right"></i> Pending approval</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#events"><i class="icon-bookmark"></i> Events</a>
    </div>
    <div id="events" class="accordion-body collapse {% if request.path|app_name == 'event' %}in{% endif %}">
      <div class="accordion-inner">
        <ul class="nav-list nav">
          <li>
            <a href="{% url 'events.views.add_event' %}"><i class="icon-chevron-right"></i> Add an Event</a>
          </li>

          <li>
            <a href="{% url 'events.views.list_events' %}"><i class="icon-chevron-right"></i> List all events</a>
          </li>
          <li>
            <a href="{% url 'events.views.register' %}"><i class="icon-chevron-right"></i> Register for an event</a>
          </li>
          <li>
            <a href="{% url 'events.views.list_all_registrations' %}"><i class="icon-chevron-right"></i> Registration list</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% if user.userprofile.dept.id == 9 or user.userprofile.dept.id == 5 or user.userprofile.status == 'core' %}
  {% include 'hospi/sidebar.html' %}
{% endif %}

  {% include 'mailer/sidebar.html' %}
  {% include 'chat/sidebar.html' %}


  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#finance"><i class="icon-bookmark"></i> Facilities</a>
    </div>
    <div id="finance" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="nav-list nav">
          <li>
            <a href="{% url 'finance.views.add_item' %}"><i class="icon-chevron-right"></i> Add an Item</a>
          </li>

          <li>
            <a href="{% url 'finance.views.list_items' %}"><i class="icon-chevron-right"></i> List all Items</a>
          </li>
          <li>
            <a href="{% url 'finance.views.add_memento' %}"><i class="icon-chevron-right"></i>  Add a Memento</a>
          </li>
          <li>
            <a href="{% url 'finance.views.list_mementos' %}"><i class="icon-chevron-right"></i> List all mementos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% include 'spons/sidebar.html' %}

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#registrations"><i class="icon-qrcode"></i> Registrations</a>
    </div>
    <div id="registrations" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="nav-list nav">
          <li>
            <a href="{% url 'registration.views.list_users' %}"><i class="icon-chevron-right"></i> Main Site user registrations</a>
          </li>
          <li>
            <a href="{% url 'registration.views.add_user' %}"><i class="icon-chevron-right"></i> Register Saarang User</a>
          </li>
          <li>
            <a href="{% url 'events.views.register' %}"><i class="icon-chevron-right"></i> Register for an event</a>
          </li>
          <li>
            <a href="{% url 'events.views.list_events' %}"><i class="icon-chevron-right"></i> Event registrations</a>
          </li>
          <li>
            <a href="{% url 'events.views.add_team' %}"><i class="icon-chevron-right"></i> Add a team</a>
          </li>
          <li>
            <a href="{% url 'events.views.list_teams' %}"><i class="icon-chevron-right"></i> List all teams</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% if user.userprofile.status == 'core' or user.userprofile.sub_dept.id == 6 %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#ticket"><i class="icon-file"></i> Tickets</a>
    </div>
    <div id="ticket" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class="nav-list nav">
          {% if user.userprofile.status == 'core' %}
              <li>
                  <a href="{% url 'ticket.views.create_ticket' %}"><i class="icon-chevron-right"></i> Add a Ticket</a>
              </li>
              <li>
                  <a href="{% url 'ticket.views.ticket_list' %}"><i class="icon-chevron-right"></i> Edit Ticket</a>
              </li>
          {% endif %}
              <li>
                  <a href="{% url 'ticket.views.new_transaction' %}"><i class="icon-chevron-right"></i> New Transaction</a>
              </li>
              <li>
                  <a href="{% url 'ticket.views.transaction_list' %}"><i class="icon-chevron-right"></i> Transaction History</a>
              </li>
          {% if user.userprofile.status == 'core' %}
              <li>
                  <a href="{% url 'ticket.views.statistics' %}"><i class="icon-chevron-right"></i> Statistics</a>
              </li>
          {% endif %}
          </ul>
        </ul>
      </div>
    </div>
  </div>
{% endif %}
</div>

<!-- SideBar accordion ends -->
</div>
<!-- Content begin -->
        <div class="span9" id="content" class="maincontent">
            {% block content %}{% endblock %}
        </div>
<!-- Content ends -->
        </div>
    </div>

<!-- Copyright bar begin -->
    <div class = "navbar navbar-fixed-bottom ">
      <div class="navbar-inner">
        <div class="container">
        <p class="text-center muted" style="padding-top:10px;">&copy; Copyright 2014 - Saarang WebOps Team</p></div>
      </div>
    </div>
<!-- Copyright bar ends -->

<!-- JavaScripts begin -->
    <script src="{% static 'js/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'js/smoothness/jquery-ui-1.10.3.custom.js' %}"></script>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-rowlink.js' %}"></script>
    
    <script src="{% static 'js/datatable/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/tabletools/TableTools.js' %}"></script>
    <script src="{% static 'js/tabletools/ZeroClipboard.js' %}"></script>
    <script src="{% static 'js/prettify.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.bootstrap-growl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatable/jquery.jeditable.js' %}"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/tinymce/tinymce.min.js"></script>

    <script>
        tinymce.init({
            selector: "textarea:not(.comments)",
            theme: "modern",
            width: 750,
            height: 300,
            plugins: [
                 "advlist autolink link lists charmap print preview hr anchor pagebreak spellchecker",
                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
                 "save table contextmenu directionality emoticons template paste textcolor "
           ],
           content_css: "css/content.css",
           toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview media fullpage | forecolor backcolor emoticons",
           style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],
            editor_deselector : "mceNoEditor"
         });
    </script>
    <script>
    //     tinymce.init({
    //         selector: "textarea.comments",
    //         theme: "modern",
    //         width: 900,
    //         height: 300,
    //         plugins: [
    //              "advlist autolink link lists charmap print preview hr anchor pagebreak spellchecker",
    //              "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
    //              "save table contextmenu directionality emoticons template paste textcolor "
    //        ],
    //        content_css: "css/content.css",
    //        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview media fullpage | forecolor backcolor emoticons",
    //        style_formats: [
    //             {title: 'Bold text', inline: 'b'},
    //             {title: 'Red text', inline: 'span', styles: {color: '#ff000'}},
    //             {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
    //             {title: 'Example 1', inline: 'span', classes: 'example1'},
    //             {title: 'Example 2', inline: 'span', classes: 'example2'},
    //             {title: 'Table styles'},
    //             {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    //         ]
    //      });
    </script>
    <script>
      $(document).ready( function () {
          $('#datatable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
    </script>

<!-- For forum table --> 
<script>
      $(document).ready( function () {
          $('#forumtable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 14,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#itemtable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 1000,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#hospitable').dataTable( {
              "bJQueryUI": true,
              "bPaginate": false,
              "sDom": '<"H"Tfr>t<"F"ip>',
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#prizetable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 1000,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
      $(document).ready( function () {
          $('#misctable').dataTable( {
              "bJQueryUI": true,
              "sPaginationType": "full_numbers",
              "sDom": '<"H"Tfr>t<"F"ip>',
              'iDisplayLength': 1000,
              "oTableTools": {
                  "aButtons": [
                      "copy", "csv", "xls", "pdf",
                      {
                          "sExtends":    "collection",
                          "sButtonText": "Save",
                          "aButtons":    [ "csv", "xls", "pdf" ]
                      }
                  ]
              }
          } );
      } );
</script>

    <script>
        $(document).ready(function() { $("#multiselect").select2(); });
    </script>

<!-- JavaScripts end -->
{% include 'analytics.html' %}
</body>
</html>
