<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
<html lang="en">

<head>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-rowlink.css' %}" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}Saarang ERP{% endblock %}</title>

    {% block topbar %}
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">Saarang ERP</a>
                    <ul class="nav">
                        <li><a href="{% url 'erp.views.home' %}">Home</a></li>
                        <li><a href="{% url 'forum.views.index' %}">Forum</a></li>
                        <li><a href="{% url 'erp.views.login_user' %}">Login</a></li>
                        <li><a href="{% url 'erp.views.logout_user' %}">Logout</a></li>
                        <li><a href="{% url 'userprofile.views.profile' %}">Profile</a></li>
                    <!--
                        <li><a href="#">Deals</a></li>
                        <li><a href="#">Submit</a></li>
                    -->
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
</head>

<body>
    <div class="container">
    <div class="row">
        {% block sidebar %}
              <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav affix-top" data-spy="affix" data-offset-top="100">
                  <li class="header"><h3>Welcome</h3></li>
                  <li><a href="{% url 'task.views.show_task' %}"><i class="icon-chevron-up"></i> Manage</a>
                    <ul class="nav-list nav">
                        <li>
                            <a href="{% url 'erp.views.add_user' %}"><i class="icon-chevron-right"></i> Add User</a>
                        </li>
                        <li>
                            <a href="{% url 'erp.views.add_dept' %}"><i class="icon-chevron-right"></i> Add Department</a>
                        </li>
                        <li>
                            <a href="{% url 'erp.views.add_event' %}"><i class="icon-chevron-right"></i> Add Event</a>
                        </li>
                    </ul>
                  </li>
                  <li><a href="{% url 'task.views.show_task' %}"><i class="icon-chevron-down"></i> Tasks</a>
                    <ul class="nav-list nav">
                        <li>
                            <a href="{% url 'task.views.origin_task_create' %}"><i class="icon-chevron-right"></i> Create new Task</a>
                        </li>
                        <li>
                            <a href="{% url 'task.views.my_task' %}"><i class="icon-chevron-right"></i> My Tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'task.views.dept_task' %}"><i class="icon-chevron-right"></i> My Department Tasks</a>
                        </li>

                    </ul>
                  </li>
            <!--
            TODO: Split tasks into My Tasks, Department tasks etc
                  <li><a href="#responsive"><i class="icon-chevron-right"></i> Responsive design</a></li>
              -->
                </ul>
              </div>
        {% endblock %}

        <div class="span9" id="content">
            {% block content %}{% endblock %}
        </div>

        </div>
    </div>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-rowlink.js' %}"></script>
  

</body>
</html>