<p>Hello {{name}},</p>
<p>Thank you for registering at Saarang 2014!</p>
<p>We are happy to see that you have registered at Saarang 2014.
While you get ready for the Great Carnival, we have some goodies for you.</p>
<p>As a limited time goodie from our Recharge Partner, we bring to you Recharge Coupons from <a href="http://komparify.com" target="_blank"> Komparify.com</a></p>
<p>Use the link below to get Rs. 20 off on a recharge of Rs. 120. Hurry up,  it's a limited time offer.</p>
<p><a href='{{coupon_code_link}}' target='_blank'>{{coupon_code_link}}</a></p>
<p><u>Terms and Conditions:</u>
<ul><li>Applicable to new komparify users using with Facebook login (minimum 25 friends)</li>
<li>The coupon-code expire on Feb 15, 2014.</li>
<li>It can be redeemed via Android App PlanHound or Site <a href="http://komparify.com" target="_blank"> Komparify.com</a></li></ul></p>
<p>Please feel free to contact us in case of any queries.</p>
<p>Wishing you a Great Carnival,</p>
<p>Web Operations Team,<br/>
<a href="http://saarang.org" target="_blank"> Saarang 2014</a></p>