{% extends "base.html" %}
{% load url from future %}
{% block title %}Saarang ERP{% endblock %}

{% block content %}
<h1>Saarang ERP</h1>

<script type="text/javascript">
function al(){
    alert('afasfas');
};
</script>
<h3>Hello {{ user.first_name }}, Welcome to Saarang ERP</h3>
<div class='row-fluid'>
    <div class='span6 well' style='max-height:200px;overflow:auto;'>
        <h5>Notifications(Department)</h5>
        <hr/>
        {% for notif_pub in notif_list_dept %}
        <small>At {{ notif_pub.timestamp }},</small>
        <div class='alert alert-info'>
            <button type="button" class="close" data-dismiss="alert" onclick='al({{ notif_pub.id }})'>&times;</button>
            <a href="{{ notif_pub.link }}">{{ notif_pub.notif_body|safe }}</a><br/>
        </div>
        {% endfor %}
    </div>
    <div class='span6 well' style='max-height:200px;overflow:auto;'>
        <h5>Notifications(SubDepartment)</h5>
        <hr/>
        {% for notif in notif_list_subdept %}
        <small>At {{ notif.timestamp }},</small>
        <div class='alert alert-info'>
            <button type="button" class="close" data-dismiss="alert" onclick='al({{ notif.id }})'>&times;</button>
            <a href="{{ notif.link }}">{{ notif.notif_body|safe }}</a><br/>
        </div>
        {% endfor %}
    </div>
</div>
<div class='row-fluid'>
    <div class='span6 well' style='max-height:200px;overflow:auto;'>
        <h5>Notifications(Event)</h5>
        <hr/>
        {% for notif in notif_list_event %}
        <small>At {{ notif.timestamp }},</small>
        <div class='alert alert-info'>
            <button type="button" class="close" data-dismiss="alert" onclick='al({{ notif.id }})'>&times;</button>
            <a href="{{ notif.link }}">{{ notif.notif_body|safe }}</a><br/>
        </div>
        {% endfor %}
    </div>
    <div class='span6 well' style='max-height:200px;overflow:auto;'>
        <h5>Notifications(Individual)</h5>
        <hr/>
        {% for notif in notif_list_ind %}
        <small>At {{ notif.timestamp }},</small>
        <div class='alert alert-info'>
            <button type="button" class="close" data-dismiss="alert" onclick='al({{ notif.id }})'>&times;</button>
            <a href="{{ notif.link }}">{{ notif.notif_body|safe }}</a><br/>
        </div>
        {% endfor %}
    </div>
</div>
<div class='row-fluid'>
    <div class='span6 well' style='max-height:200px;overflow:auto;'>
        <h5>Notifications(Public)</h5>
        <hr/>
        {% for notif in notif_list_pub %}
        <small>At {{ notif.timestamp }},</small>
        <div class='alert alert-info'>
            <button type="button" class="close" data-dismiss="alert" onclick='al({{ notif.id }})'>&times;</button>
            <a href="{{ notif.link }}">{{ notif.notif_body|safe }}</a><br/>
        </div>
        <hr/>
        {% endfor %}
    </div>
</div>
{% endblock %}