{% extends 'minimal_base.html' %}
{% block content %}
{% load staticfiles %}
<!-- Navigation Ends -->

<!--
{% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}


    <form action="" method="post" class="form-login well">
        {% csrf_token %}
        <table>
        <tr><td>Username:</td><td><input type="text" name="username" class="input-block-level" /></td></tr>
        <tr><td>
        Password:</td><td><input type="password" name="password" class="input-block-level" /></td></tr>
        <tr><td></td><td><input type="submit" value="Login" align="right" class="btn btn-large btn-primary"></tr>
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </table>
    </form>
-->
<style type="text/css">
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>
<section>
<div class="container login">
    <div class="row ">
        <div class="center span4 well">
            <legend>Please Sign In</legend>
            <img class="profile-img" src="{% static 'img/logo.png' %}"
            alt=""><h3>Saarang ERP</h3>
            {% if form.errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div>
            {% endif %}
            {% if msg %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ msg }}
            </div>
            {% endif %}
            <form method="POST" action="" accept-charset="UTF-8">
                {% csrf_token %}
            <input type="text" id="username" class="span4" name="username" placeholder="Username" />
            <input type="password" id="password" class="span4" name="password" placeholder="Password" />
            <label class="checkbox">
                <input type="checkbox" name="remember" value="1" /> Remember Me
            </label>
            <button type="submit" name="submit" class="btn btn-primary btn-block">Sign in</button>
            </form>
        </div>
    </div>
</div>
<p class="text-center muted ">&copy; Copyright 2014 - Saarang WebOps</p>
</section>
<!-- Main Container Ends -->
 {% endblock content %}