{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Hospitality | Saarang ERP{% endblock %}

{% block content %}
<legend>Teams registered for Accomodation</legend>
<table id="datatable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Leader</th>
                <th style="width: 10%;">Members</th>
                <th>Accomadation Status</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.team_sid }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.leader }}</td>
                    <td>{{ team.get_total_count }}</td>
                    <td>
                        {% if team.accomodation_status == 'requested' %}
                            <span class="label label-info">Requested</span>
                        {% elif team.accomodation_status == 'confirmed' %}
                            <span class="label label-success">Confirmed</span>
                        {% elif team.accomodation_status == 'waitlisted' %}
                            <span class="label label-warning">Waitlisted</span>
                        {% elif team.accomodation_status == 'rejected' %}
                            <span class="label label-important">Rejected</span>   
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
