<!DOCTYPE html>

{% load url from future %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SAAR | {{team.team_sid }} | Saarang 2014</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Saarang Advance Accommodation Registration">
    <meta name="author" content="Web Operations Saarang 2014">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">

    <style type="text/css">
    table
    {
        border-collapse:collapse;
        width: 100%;
    }
    table, tr, th, td
    {
        border: 1px solid black;
    }
    td
    {
        padding:5px;
    }
    </style>
</head>

<body  style="font-family:helvetica">
    <center>

       SAAR | {{team.team_sid }} | Saarang 2014<br/>

       <img src="{% static 'img/letter_head.jpg' %}"/><h1 style="color:#abdb16">Saarang Advance Accommodation Registration</h1>
       <hr/>

       <table >
        <tr><th colspan=2>
            <h3>Team Details</h3></th>
        </tr>
        <tr>
            <td width="40%" >Name</td><td >{{ team.name }}</td>
        </tr>
        <tr>
            <td >ID</td><td >{{ team.team_sid }}</td>
        </tr>
        <tr>
            <td >No. of team members</td><td >{{ team.get_total_count }}</td>
        </tr>
        <tr>
            <td >Accomodation Request</td><td >
            <span class="label label-success"><strong style="color:green">CONFIRMED</strong></span>
        </td>
    </tr>
</table>
<br/>
<table >

    <tr><th colspan=2><h3>Team Leader</h3></th> </tr>
    <tr>
        <td width=40%>Name</td><td >{{ leader.name }}</td>
    </tr>
    <tr>
        <td >ID</td><td >{{ leader.saarang_id }}</td>
    </tr>
    <tr>
        <td >Email</td><td >{{ leader.email }}</td>
    </tr>
    <tr>
        <td >Mobile</td><td >{{ leader.mobile }}</td>
    </tr>
</table>
<br/>
<table >
    <tr><th colspan=2><h3>Accomodation details</h3></th> </tr>

    <tr>
        <td width=40%>From</td><td >{{ team.time_of_arrival|title }} on {{ team.date_of_arrival }}</td>
    </tr>
    <tr>
        <td >To</td><td >{{ team.time_of_departure|title }} on {{ team.date_of_departure }}</td>
    </tr>
</table>
<br/>

<table>
    <tr><th colspan=6><h3>Team Members</h3></th> </tr>

    {% for member in members %}
    <tr id="memberRow">
        <td style="width: 5%; text-align:center">{{ forloop.counter }}</td>
        <td style="width: 13%; text-align:center;">{{ member.saarang_id }}</td>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>

        <td>{{ member.gender|title }}</td>
        <td>{{ member.mobile }}</td>
    </tr>
    {% endfor %}
</table><br/>

<table>
    <tr><th colspan=6><h3>Billing details</h3></th> </tr>

</table><br/>
Accommodation Charges = Rs. 300 per person per day
</center>
</body>