{% extends "hospi/hospi_base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block title %}Saarang Advance Accommodation Registration | {{team.team_sid }} | Saarang 2014{% endblock %}

{% block content %}

    <div class="">
    <div class="row">
        <center>
            <img src="{% static 'img/rhs.png' %}"/><h1>SAAR</h1>
        </center>
    </div>

<div class="alert alert-success">
    <h4>Team Details</h4>
    <p>
        <table class="table table-condensed table-bordered">
            <tr>
                <td style="text-align: right; width: 45%;">Name</td><td style="text-align: left; width: 45%;">{{ team.name }}</td>
            </tr>
            <tr>
                <td style="text-align: right; width: 45%;">ID</td><td style="text-align: left; width: 45%;">{{ team.team_sid }}</td>
            </tr>
            <tr>
                <td style="text-align: right; width: 45%;">Accomodation Request</td><td style="text-align: left; width: 45%;">
                    <span class="label label-success"><strong>CONFIRMED</strong></span>
                </td>
            </tr>
        </table>
    </p>
</div>

<div class="alert alert-block">
  <h4>Team Leader</h4>
  <p>
    <table class="table table-condensed table-bordered">
        <tr>
            <td style="text-align: right; width: 45%;">Name</td><td style="text-align: left; width: 45%;">{{ leader.name }}</td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">ID</td><td style="text-align: left; width: 45%;">{{ leader.saarang_id }}</td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">Email</td><td style="text-align: left; width: 45%;">{{ leader.email }}</td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">Mobile</td><td style="text-align: left; width: 45%;">{{ leader.mobile }}</td>
        </tr>
    </table>
</p>
</div>
<div class="alert alert-error">
  <h4>Accomodation details</h4>
  <p>
    <table class="table table-condensed table-bordered">
        <tr>
            <td style="text-align: right; width: 45%;">From</td><td style="text-align: left; width: 45%;">{{ team.time_of_arrival|title }} on {{ team.date_of_arrival }}</td>
        </tr>
        <tr>
            <td style="text-align: right; width: 45%;">To</td><td style="text-align: left; width: 45%;">{{ team.time_of_departure|title }} on {{ team.date_of_departure }}</td>
        </tr>
    </table>
</p>
</div>
<div class="alert alert-success">
  <h4>Team Members</h4>
  <p>
    <table class="table table-bordered">
            {% for member in members %}
            <tr id="memberRow">
                <td style="width: 5%;">{{ forloop.counter }}</td>
                <td style="width: 15%;">{{ member.saarang_id }}&nbsp;<a href="{% url 'hospi.views.delete_member' team.pk member.pk %}" class="close-btn" style="display: none;"><span class="badge badge-important">&times; Del</span></a></td>
                <td>{{ member.email }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.mobile }}</td>
            </tr>
            {% endfor %}
    </table>
</p>
</div>


{% endblock content %}