{% extends 'base.html' %}

{% block title %}Spons | ERP Saarang{% endblock %}

{% block content %}

<div class="span9 container">
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        <legend>Spons</legend>
            {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for field in form.visible_fields %}
            <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
            <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                <div class="controls"> {{ field }}
                    <br/>
                    <span class="help">
                        {{ field.help_text }}
                    </span>
                    {% if field.errors %}
                        <span class="help-inline">
                            {{ field.errors.as_text }}
                        </span>
                    {% endif %} 
                </div>
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <br/>
        <center> <input class="btn btn-primary btn-large" type="submit" value="Submit"/> {% block extra_buttons %} {% endblock extra_buttons %}
        </center>
    </form>
    <hr>
    <h3>Already uploaded logos.</h3>
    {% if list %}
    <div class="span9 container">
        <ul class='thumbnails'>
            {% for image in list %}
            <li class='span2'>
                <div class='thumbnail'>
                    <img src="{{ image.logo.url }}" height="100" width="100" alt="{{image.title}}"/>
                    <center><h5>{{ image.title }}</h5></center>
                    <p>{{ image.timestamp|date:'j M' }} , {{ image.timestamp|time:'G:i' }} <a href="{% url 'spons.views.delete_logo' image.pk %}" onclick="return confirm('Do you want to Delete this logo?');" class="close-btn"><span class="badge badge-important">&times; Del</span></a></p>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-error">There are no logos to display</div>
    {% endif %}
</div>

{% endblock %}