{% extends 'base.html' %}

{% block title %}Spons | ERP Saarang{% endblock %}

{% block content %}

<div class="span9 container">
    <form class="form-horizontal" action="" method="POST" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        <legend>Spons</legend>
            {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
            <div class="alert alert-error">
                <ul>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for field in form.visible_fields %}
            <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
            <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                <div class="controls"> {{ field }}
                    <br/>
                    <span class="help">
                        {{ field.help_text }}
                    </span>
                    {% if field.errors %}
                        <span class="help-inline">
                            {{ field.errors.as_text }}
                        </span>
                    {% endif %} 
                </div>
            </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <br/>
        <center> <input class="btn btn-primary btn-large" type="submit" value="Submit"/> {% block extra_buttons %} {% endblock extra_buttons %}
        </center>
    </form>
    <hr>
    <legend>Already uploaded logos.</legend>
    {% if list %}
        <div class='row-fluid'>
            <div class="row-fluid">
            {% for image in list %}
            <a data-target="#editLogoModal" href="{% url 'spons.views.edit_logo' image.pk %}">
                <div class='span3 thumbnail'>
                    <img src="{{ image.logo.url }}" height="100" width="100" alt="{{image.title}}"/>
                    <center><h5>{{ image.title }}</h5></center>
                    <p>{{ image.timestamp|date:'j M' }} , {{ image.timestamp|time:'G:i' }} <a href="{% url 'spons.views.delete_logo' image.pk %}" onclick="return confirm('Do you want to Delete this logo?');" class="close-btn"><span class="badge badge-important">&times; Del</span></a></p>
                </div>
            </a>
            {% if forloop.counter|divisibleby:3 %}</div>
            <div class="row-fluid">{% endif %}
            {% endfor %}
        </div>
    {% else %}
    <div class="alert alert-error">There are no logos to display</div>
    {% endif %}
</div>

<div id="editLogoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editLogoModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editLogoModalLabel">Edit Logo</h3>
  </div>
  <div class="modal-body">
    <p>Loading…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<script type="text/javascript">
$("a[data-target=#editLogoModal]").click(function(event) {
  event.preventDefault();
  var target = $(this).attr("href");
  $("#editLogoModal .modal-body").load(target, function() {
   $("#editLogoModal").modal("show");
 });
});
</script>


{% endblock %}