{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<legend>Events</legend>

{% if not events %}
<div class="alert alert-success">  
    There are no events to display
</div>
{% else %}
<table id ="datatable" class="table-bordered table-striped table">
    <thead>
        <th>Name</th>
        <th>Google group</th>
        <th>Event Email ID</th>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.long_name }}<div class="pull-right"><a href="{% url 'events.views.details_event' event.pk %}"><button class='btn btn-small btn-primary'><i class='icon-pencil'></i></button></a> <a href="{% url 'events.views.list_registrations' event.pk %}"><button class='btn btn-small btn-success'>Registrations</button></a></div></td>
                <td>{{ event.google_group }}</td>
                <td>{{ event.event_emailid }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}