{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ forum.title }} | Saarang ERP{% endblock %}
{% load staticfiles %}
{% block content %}
<div id='nav_buttons_begin'>
                <input type="button" class="btn" value="Back to Forum Index" onclick="document.location = '{% url 'forum.views.index' %}';"  >
                <input type="button" class="btn" value="Start a new Thread" onclick="document.location = '{% url 'forum.views.add_topic' forum.pk %}';" > </div> 
<legend>{{ forum.title }}</legend>
<table class="table-bordered table-striped table" style="table-layout:fixed">
    <thead>
    <tr class="rowlink" onclick="document.location = '{% url 'forum.views.add_topic' forum.pk %}';">
        </td>
    </tr>    
        <th colspan='1'>Topic</th>
        <th colspan='1'>Started By</th>
        <th colspan='1'>Replies</th>
        <th colspan='1'>Last post By</th>
        <th colspan='3'>Last post</th>
        </thead>
    <tbody>
    	{% for topic in topics reversed %}
                <tr class="rowlink" onclick="document.location = '{% url 'forum.views.show_topic' topic.pk %}';" >
                    <td colspan='1' >{{ topic.title }}{% if topic.iswork %}<img src="{% static 'img/forum/work.png' %}" width=20 height=20 >{% endif %}</td>
 </td>
                    <td colspan='1' >{{ topic.creator.first_name }}</td>
                    <td colspan='1' >{{ topic.post_count|add:-1 }}</td>
                    <td colspan='1'>{{ topic.last_post.user.first_name }}</td>
                    <td colspan='3' style="overflow:auto">{{ topic.last_post|safe}}</td>
                </tr>
        {% endfor %}
        <tr class="rowlink" onclick="document.location = '{% url 'forum.views.index' %}';">
            <td colspan=5 style="text-align:center">
            </td>
        </tr>
    </tbody>
</table>
                <input type="button" class="btn" value="Back to forum index" onclick="document.location = '{% url 'forum.views.index' %}';"  >

{% endblock %}
