{% extends "base.html" %}
{% load url from future %}
{% block title %}{{ forum.title }} | Saarang ERP{% endblock %}

{% block content %}
<h1>{{ forum.title }}</h1>
<table class="table-bordered table-striped table">
    <thead>
        <input type="button" class="btn" value="Start a new Topic" onclick="document.location = '{% url 'forum.views.add_topic' forum.pk %}';" >
        </tr>
            <th>Topic</th>
            <th>Posts</th>
            <th>Started by</th>
            <th>Last post</th>
        </thead>
    <tbody>
    	{% for topic in topics %}
                <tr class="rowlink" onclick="document.location = '{% url 'forum.views.show_topic' topic.pk %}';" >
                    <td >{{ topic.title }}</td>
                    <td>{{ topic.post_count }}</td>
                    <td >{{ topic.creator }}</td>
                    <td>{{ topic.last_post|linebreaksbr }}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}